<div class="main">
    <div class="header">
        <div class="container">
            <h1>Welcome to Mixed Messages!</h1>
            <h2>Create random wacky limericks using JavaScript to randomly generate them.</h2>
            <p class="btn btn-primary" id="new-message-button">New Message</p>
        </div>
        <div class="container">
            <p id="line1">There once was a bright young developer,</p>
            <p id="line2">Who needed a new text editor.</p>
            <p id="line3">He searched forums for days,</p>
            <p id="line4">Until his mind was ablaze,</p>
            <p id="line5">Then exclaimed 'Nevermind, VS Code has no competitor'.</p>
        </div>
    <div class="about">
        </div class="container">
            <p>Original limericks by Edward Lear</p>
            <p>The intent of this project page was to create randomly generated messages using JavaScript.</p>
            <p>This was created to meet the Codecademy Mixed Messages project prompt.</p>
        </div>
    </div>
</div>

<!-- Import Javascript Functions -->
<%= javascript_pack_tag 'functions' %>