<div class="main">
    <div class="header">
        <div class="container">
            <h1>Welcome to Mixed Messages!</h1>
            <h2>Create random wacky messages using JavaScript to randomly generate them.</h2>
            <%= link_to "New Message", root_path, class: "btn btn-primary", id: "new-quote-button"%>
        </div>
    </div>
</div>