<div class="main">
    <div class="header">
        <div class="container">
            <h1>Welcome to MisQuote!</h1>
            <h2>Learn about all the lines you've (probably) been saying wrong.</h2>
            <%= link_to "New Quote", root_path, class: "btn btn-primary", id: "new-quote-button"%>
        </div>
    </div>
    <div class="quote">
        <h2 class="description"><%= @rand_quote.description %></h2>
        <h3 class="quote-text">False Quote:</h3>
        <p>"<%= @rand_quote.false_quote %>"</p>
        <h3 class="quote-text">True Quote:</h3>
        <p>"<%= @rand_quote.true_quote %>"</p>
    </div>
</div>