<div class="main">
    <div class="header">
        <div class="container">
            <h1>Welcome to MisQuote!</h1>
            <h2>Learn about all the lines you've (probably) been saying wrong!</h2>
        </div>
    </div>
    <div class="quote">
    </div>
</div>