// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    //background: url('/assets/images/mainbackground2.jpg') center;
    background: asset-url("mainbackground2.jpg") center;
    background-size: cover;
    height: 100%;
}

.header {
    padding: 50px;
}

.header h1 {
    font-size: 70px;
}

.main {
    text-align: center;
    font-family: 'Robo Mono', monospace;
    color: white;
    text-shadow: 2px 2px black;
}

.footer {
    text-align: center;
    background-color: rgb(148, 148, 148);
    padding: 20px 0 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.about {
    padding-top: 50px;
}